.page {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

a {
  color: #61dafb;
}

.appLogo {
  pointer-events: none;
  height: 30px;
  width: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogo-spin infinite 20s linear;
  }
}

@keyframes appLogo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}